<h1><div class="title">Blog Central's Users</div></h1>

<% if @users.length != 0 %>
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to user.name, user_path(user) %></li>
    <% end %>
  </ul>
<% end %>
